---
layout: custompage
title: "RayStudio"
description: "A site for photography and few random things"
custom_js: 
- resources/jquery-ui-1.10.2.min
- jquery.nerveSlider.min
- tools.flickr.min
- baguetteBox.min
- mainpage
custom_css: 
- modern-business
- nerveSlider.min
- extracustom
- baguetteBox.min
---    
    <!-- Header nerveslider-->
    <header id="slideSection" class="headerSection" >
		<div id="sliderCover" class="loadingcover"></div>
		<div class="titleoverslide intro-header">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
						<div class="site-heading long-site-name">
							<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
							<hr class="small">
							<span class="subheading">{{ page.description }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="nerveSlider1">
            <div class="slider1">
				<img src="https://farm7.staticflickr.com/6007/5924952627_99b3fe96db_o.jpg" alt="IMG_5527_selectCrop" data-slidecaption="<h1>Raystudio Photography</h1> A site about Photography Travel and Coffee" style="width:100%;">		
            </div>
        </div>
    </header>


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Recent posts
                </h2>
            </div>
			{% for post in site.posts limit:3 %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ post.url | prepend: site.baseurl }}"><h4><i class="fa fa-fw fa-check"></i> {{ post.title | truncatewords:8 }} </h4></a>
                    </div>
                    <div class="panel-body">
                        <p>{{ post.content | strip_html | truncatewords:35}}</p>
                        <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-default">Read More...</a>
                    </div>
                </div>
            </div>
			{% endfor %}
            <!--<div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Easy to Use</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Recent works</h2>
            </div>
            <div class="portfolioPhoto">
                <div class="col-md-4 col-sm-6 portfoliorow" id="portfoliorowItem0">
					<div class="img-container">
						<!--a href="portfolio-item.html">
							<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
						</a-->
					</div>
                </div>
                <div class="col-md-4 col-sm-6 portfoliorow" id="portfoliorowItem1">
					<div class="img-container">
						<!--a href="portfolio-item.html">
							<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
						</a-->
					</div>
                </div>
                <div class="col-md-4 col-sm-6 portfoliorow" id="portfoliorowItem2">
					<div class="img-container">
						<!--a href="portfolio-item.html">
							<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
						</a-->
					</div>
                </div>
                <div class="col-md-4 col-sm-6 portfoliorow" id="portfoliorowItem3">
					<div class="img-container">
						<!--a href="portfolio-item.html">
							<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
						</a-->
					</div>
                </div>
                <div class="col-md-4 col-sm-6 portfoliorow" id="portfoliorowItem4">
					<div class="img-container">
						<!--a href="portfolio-item.html">
							<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
						</a-->
					</div>
                </div>
                <div class="col-md-4 col-sm-6 portfoliorow" id="portfoliorowItem5">
					<div class="img-container">
						<!--a href="portfolio-item.html">
							<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
						</a-->
					</div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <!--div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div-->
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="http://www.flickr.com/photos/raystudio">See more at flickr</a>
                </div>
            </div>
        </div>		
		
		
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">About</h2>
            </div>
            <div class="col-md-6">
                {% capture about_sec %}{% include about.markdown %}{% endcapture %}
				{{ about_sec | markdownify }}
            </div>
            <div class="col-md-6">
                <!--img class="img-responsive" src="http://placehold.it/700x450" alt=""-->
				<div class = "img-container">
					<img class="img-responsive img-portfolio" src="https://farm8.staticflickr.com/7226/6864275466_f42e6c4114_z.jpg" alt="">
				</div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <!--div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr-->

